html {
    margin: 0;
}

div.pac {
    height: 80%;
    width: 27%;
    background-color: white;
    /* background-image: linear-gradient( rgb(236, 233, 233), white); */
    margin-left: 36%;
    margin-top: 5%;
}

div.center {
    float: left;
    margin-top: 40px;
    margin-left: 7%;
    text-align: left;
    height: 80%;
    width: 300px;
}

text {
    color: black;
}

input {
    float: right;
}